@import url('https://fonts.googleapis.com/css2?family=Inter&family=Raleway:wght@700&family=Ubuntu:wght@300&display=swap');

*{
    box-sizing: border-box;
}

html, body .wrapper{
    height: 100%;
}

body{
    display: grid;
    place-items: center;
    margin: 0;
    padding: 14px;
    background-image: url(/img/background9.svg);
    background-size: cover;
    font-family: "Raleway";
    color: black;
    animation: rotate 6s infinite alternate linear;
}

.act{
    color: #001122;
    position: relative;
    z-index: 3;
    width: 90%;
    text-align: center;
    align-items: center;
    border: solid;
}

.mostrar > button{
    margin: auto;
    width: 30%;
}

.mostrar > button:hover{
    background-color: #0f0ff7;
    color: white;
    letter-spacing: 0.5px;
}

form > button{
    margin: auto;
    position: relative;
    align-items: center;
    z-index: 3;
    width: 20%;
    transition: all 0.25s;
}

form > button:hover{
    background-color: #0f0ff7;
    color: white;
    letter-spacing: 0.5px;
}

.guardado > .aviso {
    margin: 0 0 20;
    padding: auto;
    color: white;
}

button{
    transition: all 0.25s;
    background-color: white;
    border-radius: 1.25rem;
    width: 15%;
    padding: 10px 10px 10px;
    margin-top: 20%;
    margin-bottom: 10%;
    border: 0;
    font-family: "Raleway";
}

button:hover{
    background-color: #0f0ff7;
    letter-spacing: 0.7px;
}

a{
    color: #001122;
    font-size: 1rem;
    text-decoration: none;
    margin-bottom: 6px;
    font-family: "Raleway";
}

a:hover {
    color: white;
}

table{
	align-items: center;
	position: relative;
}

@keyframes rotate{
    100%{
        background-position: 20% 20%;
    }
}

@media (width >= 500px){
    body{
        padding: 0;
    }

    .login-card{
        margin: 0;
        width: 400px;
    }
}