@import url('https://fonts.googleapis.com/css2?family=Inter&family=Raleway:wght@700&family=Ubuntu:wght@300&display=swap');

*{
    box-sizing: border-box;
}

html, body .wrapper{
    height: 100%;
}

body{
    display: grid;
    place-items: center;
    margin: 0;
    padding: 14px;
    background-image: url(/img/background7.svg);
    background-size: cover;
    font-family: "Raleway";
    color: black;
    animation: rotate 6s infinite alternate linear;
}

table{
    color: #001122;
    position: relative;
    z-index: 3;
    width: 80%;
    margin: 2px;
    margin-left: auto;
    margin-right: auto;
    margin: auto;
    top: 60px;
    padding-top: auto;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: auto;
    border-radius: 0.7rem;
    border: 0;
    background: white;
    text-align: center;
    box-shadow: 0 0 7px #10449a;
    align-items: center;
}

th {
    color: #F7770F;
}

button{
    transition: all 0.6s;
    background-color: white;
    border-radius: 1.25rem;
    width: 15%;
    margin: 20%;
    padding: 10px 10px 10px;
    border: 0;
}

button:hover{
    background-color: #adacaa;
}
a{
    color: #001122;
    font-size: 1rem;
    text-decoration: none;
    transition: all 0.375s;
    font-family: "Raleway";
}

a:hover{
    color: #fb8500;
    letter-spacing: 1px;
}

@keyframes rotate{
    100%{
        background-position: 20% 20%;
    }
}

@media (width >= 500px){
    body{
        padding: 0;
    }

    .login-card{
        margin: 0;
        width: 400px;
    }
}